* {
  font-family: 'Unbounded', cursive;
}


a {
  text-decoration-color: white;
  text-decoration: underline;
}

a:link{
  color:white;
}
a:visited{
  color:white;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1rem;
  text-align: center;
}

b {
  margin-top: 7px;
  margin-bottom: 5px;
  font-size: 20px;
}



body {
  color: white;
  background: black;
}



h1 {
  line-height: 1.15;
  font-size: 2rem;
  margin-bottom: 5px;
  margin-top: 5px;
}

img {
  margin-bottom: 5px;
}